
.page {
    position: relative;
    margin-top: 60px;
    text-align: center;
}

.basic-box ul li {
    list-style-type: none;
    margin-bottom: 7px;
}


.avatar {
    height: 400px;
    width: auto;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
.about {
    width: 60%;
    display: inline-block;
}

.interests-list {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

.list-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 28px;
    margin-bottom: 10px;
}

.mbox {
    display: inline-block;
    width: 40%;
    border: 1px solid white;
}
audio {
    margin: 20px;
}