
body {
    position: relative;
}

footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.959);
    text-align: center;

}

.git-link {
    float: left;
    text-align: left;
    font-size: 10px;
    margin-top: 20px;
}

.git-link p {
    font-family: 'Raleway', sans-serif
}
.git-link a {
    color: white;
}
.git-link a:hover {
    color: rgb(190, 94, 30);

}

.copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}


.music-button {
    float:left;
    color: white;
    margin-left: 1%;
    border: 1px solid beige;
    border-radius: 20px;
    padding-top: 12px;
    position: relative;
    bottom: 12px;
    margin-top: 25px;
}
.music-button:hover {
    box-shadow: 0 0 30px white;
    color: rgb(92, 255, 47);
}
/* .music-button:active {
    box-shadow: 0 0 30px white;
    background-color: rgb(240, 240, 240);
    color: black;
    border-color: black;
}
.music-button p:active {
    color: black;
} */


.e-mail-icon {
    color: grey;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.e-mail-icon:hover {
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 10px;
    transform: translate(1px, 0px);
}
.fa-envelope {
    color: rgba(195, 120, 0, 0.329);
}



.footer-right {
    float: right;
    width: 100px;
}
.social-media-icons {
    float: right;
    margin-right: 7px;
    margin-top: 0px;
    
}
.fa-brands {
    color: beige;
    background-image: none;
    border-radius: 100px;
    transition: box-shadow .20s;
}
.fa-brands:hover {
    box-shadow: 0 0 30px rgb(255, 255, 255);
} 
