
.hero {
    color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    height: 60vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 150px;
    text-shadow: 2px 2px 1px black;
    font-size: 20px;
    text-align: center;
}
.stripe {
    background-color: rgba(60, 0, 0, .6);
    height: 200px;
    position: absolute;
    top: 50px;
    width: 100%;
    padding-top: 50px;
}



