main {
    display: flex;
    flex-direction: column;
}

.heading-box {
    /* margin-top: 1em;
    width: 60%;   
    align-self: center;
    padding: 0px;
    text-align: center;
    padding-top: .8em; */
}

.project-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.box {
    flex: 1;
    min-width: 400px;
    background-color: rgba(0, 0, 0, .8);
    color: wheat;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: box-shadow .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 2rem 3rem;
}
.box:hover {
    box-shadow: 0 0 50px white;
}

.box h2 {
    text-decoration: underline;
    font-family: 'Aldrich', sans-serif;
}
.box p {
    color: white;
    text-align: justify;
}




@media (max-width:800) {
    .box {flex: 100%; background-color: aqua;}
}
