/* body {
    background-image: url(/portfolio-wfb/img/img6.jpg);
    background-size: cover;
    height: 100vh;
} */



.lists {
    display: flex;
    flex-direction: column;
    list-style-type:disc;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 10px;
    margin-top: 50px;
}
.lists h3 {
    margin-bottom: 15px;
    text-decoration: underline;
    font-size: 25px;
}
.lists ul li {
    font-size: 18px;
    margin: 10px;
}


.basic-box ul li {
    font-size: 25px;
    margin-bottom: 15px;

}


.main {
    display: flex;
    flex-direction: column;
}

.resources-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.resources-study-tips {
    min-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.resources-study-tips ul {
    margin: 0 2rem;
}
.resources-websites {
    min-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.resources-websites ul {
    margin: 0 2rem;
}


.resources-youtube-channels {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resources-youtube-channels-row {
    display: flex;
    flex-wrap: wrap;
}


.youtube-channel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(111, 0, 0, 0.132);
    border: 2px solid white;
    padding: 2rem;
    margin: 1rem;
    transition:  box-shadow .5s;
    border-radius: 10px;
}
.youtube-channel:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255);
}
.basic-box a {
    color: rgb(244, 137, 36);
    text-decoration: underline;
}
a:visited {
    color: rgb(237, 203, 171);
}
